# Site Info
title:              "十八岁出门远行"
description:        "maybe there is something interesting here..."
# google_verify and google_analytics
# google_verify:      epFgX0s_0RM3CdjwFcsewfXzPov2g8s9ZBOLyaIUH-o # Put your Google Verification here
# google_analytics:   UA-XXXXXXX-X # Put your Google Analytics code

# Author Info
author_name:        "孙伟健" # Your name here
author_email:       weijiansun5@gmail.com # Your email here
author_gravatar:    8e4c7841a3f9a812aba898fb0893c9d6 # Your Gravatar md5 hash here for logo
github_username:    DanWhiWee # Your GitHub username here

# Site Settings
baseurl:            "" # Base URL must end WITHOUT a slash, default: ""
permalink:          /notes/:title # Post permalink
timezone:           Asia/Kuala_Lumpur # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
mathjax:            true  # enables support for mathjax - set to false to disable

# Site Build
highlighter:        rouge
markdown:           kramdown
kramdown:
    input:          GFM
sass:
    style:          :compressed

# Other Params
include:            [ "robots.txt" ]
exclude:            [ "LICENSE", "README.md", "CNAME", "vendor", "Gemfile" ]
gems:
  - jekyll-sitemap



defaults:
  -
    scope:
      path:         ""
    values:
      layout:       "null"
  -
    scope:
      type:         "pages"
    values:
      layout:       "page"
  -
    scope:
      type:         "posts"
    values:
      layout:       "post"
